
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
     font-family: 'Poppins', sans-serif;
     background:  #F3F1FF;
     
}
main{
     display: flex;
     flex-direction: column;
     align-items: center;
}
.top-players{
     margin-bottom: 30px;
}
.section-title{
     color: #562EFF;
     font-size: 24px;
     margin-top: 3px;

}
.container{
   background-color: #FFFFFF;
   width: 870px;
   border-radius: 5px;
   padding: 30px;
   margin-top: 21px;

}


.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    
}
.player{
     display: flex;
     align-items: center;
}
.player img{
     width: 56px;
     height: 56px;
}
.player-name{
     margin-left: 16px;
}
hr{
     border: 1px solid #D1D1D1;
     
}

/*------------------------ blog 1--------------------- */

.blogs-1 img{
     width: 177px;
height: 117px;
}
.blogs-1{
     display: flex;
    
  
}
.blog-text{
     margin-left: 16px;
     font-size: 18px;
     margin-top: -21px;
     
}
.blog-text p{
     
     color: #9F9F9F;
     font-size: 16px;
}
.anchor a{
     font-size: 16px;
     color: 
     #562EFF;
     text-decoration: none;

}
/* ---------------------blog-2--------------------------- */

.blogs-2 img{
     width: 177px;
     height: 117px;
}
.blogs-2{
     display: flex;
     margin-top: 26px;

    
  
}
.blog-text-2{
     margin-left: 16px;
     font-size: 18px;
     margin-top: -21px;
     
}
.blog-text-2 p{
     
     color: #9F9F9F;
     font-size: 16px;
}
.anchor-2 a{
     font-size: 16px;
     color: 
     #562EFF;
     text-decoration: none;

}
/* --------------------blog-4------------------------- */
.blog4{

     display: flex;
     justify-content: end;
     margin-top: -125px;
}
.blog4 img{
     width: 177px;
height: 117px;

}
.blog-text4{
     margin-left: 16px;
    
     font-size: 18px;
     margin-top: -21px;
     
}
.b-text4{
     font-size: 20px;
}
.anchor4 a{
     font-size: 16px;
     color: 
     #562EFF;
     text-decoration: none;}
     
     .blog-text4 p{
     
          color: #9F9F9F;
          font-size: 16px;
     }
/* --------------Blog-3-------------- */
.blog3{
     margin-left: 46px;
}
.blog-text3{
     margin-left: 16px;
   
     font-size: 18px;
     margin-top: -21px;
}
.anchor3 a{
     font-size: 16px;
     color: 
     #562EFF;
     text-decoration: none;}
.blog-text3 p {
     color: #9F9F9F;
     font-size: 16px;
           }   

        
 /*---------------------lates-course-------------------------*/
 

 
.courses{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
} 

.course img{
     width: 224px;
height: 104px;
}

.container2{
     background-color: #FFFFFF;
     width: 870px;
     border-radius: 5px;
     padding: 30px;
     
}
.text-decoration1{
     margin-top: -70px;

}
.text-decoration2{
     text-align: center;
     margin-top: -165px;
     margin-right: 60px;
}
.text-decoration3{
     margin-left: 68%;
     margin-top: -155px;
}
.react1 .react2 .react3{
     font-size: 20.0336px;
     color: #1E1E1E;
}
.anchor-react1 a{
     text-decoration:none ;
     color: #ED6B4F;
     font-size: 14.6913px;
}
.anchor-react2 a{
     text-decoration:none ;
     color: #ED6B4F;
     font-size: 14.6913px;
}
.anchor-react3 a{
     text-decoration:none ;
     color: #ED6B4F;
     font-size: 14.6913px;
}
.fa-solid{
     color: #FFC014;
}
#unfilled3{
     color: #AEAEAE;
     
}
.star1{
    color: #A2A2A2;
    font-size: 14.6913px;
}
.star2{
     color: #A2A2A2;
     font-size: 14.6913px;
 }
 .star3{
     color: #A2A2A2;
     font-size: 14.6913px;
 }
 .hr2{
     background: #FEE5DF;
     border-radius: 14.6913px;
     color: #ED6B4F
     
 }

 /*---------------- media queries----------- */

@media only screen and (max-width:688px){

}
@media only screen and (min-width:688px) and 
(max-width:992px){
     
}